BOT_NAME=TopTec Digital
ADMIN_WHATSAPP=55SEUNUMERO

SIGMA_BASE_URL=https://azonixplay.sigmab.pro/api
SIGMA_APP_URL=https://azonixplay.sigmab.pro/Sss
SIGMA_USERNAME=seu_usuario
SIGMA_PASSWORD=sua_senha

# Azonix Play - Teste 6HS Com Adultos
SIGMA_SERVER_ID=we6Wnw1K8N
SIGMA_PACKAGE_ID=VpKDaw21RA
SIGMA_TRIAL_HOURS=6
SIGMA_CONNECTIONS=1
